body {
  margin: 10px;
  background-color: antiquewhite;
  font-family: arcadefont;
  text-align: center;
}
@font-face {
  font-family: arcadefont;
  src: url(arcadeFontFiles/PressStart2P-vaV7.ttf) format("truetype");
}
.mainRed {
  background-color: #cf1031;
}
.fullPokedex {
  display: flex;
  width: 100%;
  height: 500px;
}
.leftPokedex {
  width: 55%;
  border-radius: 30px 5px 5px 30px;
}
.rightPokedex {
  width: 45%;
  border-radius: 5px 30px 30px 5px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.oneRow {
  display: flex;
  width: 100%;
}
.contenedorHeader {
  margin: 8px;
  justify-content: flex-start;
}
.wc {
  width: 60px;
  height: 60px;
  border-radius: 50% 50% 50% 50%;
  background-color: white;
}
.bc {
  width: 50px;
  height: 50px;
  border-radius: 50% 50% 50% 50%;
  background-color: #009cd5;
  margin-top: 3px;
  margin-left: 6px;
}
.blc {
  width: 40px;
  height: 40px;
  border-radius: 50% 50% 50% 50%;
  background-color: #0bcdff;
  margin-top: 3px;
  margin-left: 3px;
  position: absolute;
}
.bllc {
  width: 10px;
  height: 10px;
  border-radius: 50% 50% 50% 50%;
  background-color: #9de8fe;
  margin-top: 8px;
  margin-left: 10px;
}
.smallCircle {
  width: 20px;
  height: 20px;
  border-radius: 50% 50% 50% 50%;
  background-color: #a7d500;
  margin-left: 5px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
}
.notchedCorner {
  margin: 20px 1px 5px 1px;
  justify-content: center;
}
.notchedBox {
  width: 80%;
  height: 200px;
  position: relative;
  border-radius: 5px;
  background-color: #dedfdf;
  overflow: hidden;
  transform: rotate(180deg);
  display: flex;
  flex-direction: row-reverse;
}
.notchedBox:after {
  content: "";
  position: absolute;
  margin: -25px;
  width: 49px;
  height: 49px;
  transform: rotate(45deg);
  background-color: #cf1031;
  border-color: #cf1031;
}
.screen {
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  border-radius: 5px;
  width: 90%;
  height: 65%;
  position: relative;
  margin-top: 3px;
  flex-direction: row-reverse;
  transform: rotate(180deg);
  justify-content: center;
  align-items: center;
}
.screen img {
  width: 50%;
}
.screenRelleno {
  width: 60%;
  height: 40px;
}
.oneJustifyItem {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}
.firstColum {
  width: 20%;
  height: 50px;
  margin-left: 5px;
  margin-top: 5px;
}
.blackc {
  margin-top: 0px;
  width: 95%;
  height: 95%;
  border-radius: 50% 50% 50% 50%;
  background-color: #080505;
  display: flex;
  justify-content: flex-end;
}
.blackcc {
  margin-top: 0px;
  width: 90%;
  height: 90%;
  border-radius: 50% 50% 50% 50%;
  background-color: #232322;
}
.secondColum {
  width: 40%;
  height: 50px;
  margin-left: 5px;
  margin-top: 5px;
}
.secondColumRect {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.rectangle1 {
  margin-top: 15px;
  width: 35px;
  height: 12px;
  border-radius: 10px;
  background-color: #c60d13;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
}
.rectangle2 {
  margin-top: 15px;
  width: 35px;
  height: 12px;
  border-radius: 10px;
  background-color: #095279;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
}
.thirdColum {
  width: 35%;
  height: 50px;
  margin-left: 5px;
  margin-top: 5px;
}
.joystickRow {
  display: flex;
  width: 100%;
  height: 30%;
}
.joystickRow div {
  width: 30%;
  height: 100%;
}
.joystickUnit {
  background-color: #262727;
  border-color: #000;
}
.borderc1 {
  border-radius: 5px 5px 0px 0px;
  box-shadow: 6px 0px 2px #000 inset;
}
.borderc2 {
  border-radius: 5px 0px 0px 5px;
  box-shadow: 6px 4px 2px #000 inset;
}
.borderc3 {
  border-radius: 0px 5px 5px 0px;
}
.borderc4 {
  border-radius: 0px 0px 5px 5px;
  box-shadow: 6px 0px 2px #000 inset;
}
.inputSpaceContainer {
  margin-top: 5%;
  width: 100%;
  display: flex;
  justify-content: center;
}
.inputSpace {
  width: 70%;
  height: 90px;
  background-color: #55ab62;
  border-radius: 10px;
}
.inputSpace h3 {
  margin: 5px;
  font-size: 10px;
  font-family: arcadefont;
}
.inputSpace button {
  margin: 5px;
  font-size: 10px;
  font-family: arcadefont;
  width: 70%;
  height: 20%;
  background-color: #55ab62;
  border-radius: 10px;
}
.inputSpace input {
  background-color: #55ab62;
  font-family: arcadefont;
  font-size: 8px;
  font-weight: 500px;
  width: 80%;
  height: 30%;
  color: #000;
}
.skillsScreen {
  width: 80%;
  height: 40%;
  background-color: #022c29;
  border-radius: 5px;
}
.blueSkills {
  width: 80%;
  height: 70px;
  background-color: #30a7f0;
  border-radius: 5px;
}
.sizeWeightContainer {
  width: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.sizeWeightRect {
  width: 45%;
  height: 30px;
  background-color: #022c29;
  border-radius: 5px;
}
.rightButtonsContainer {
  width: 80%;
  height: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.dosBotones {
  width: 40%;
  height: 20px;
  display: flex;
  flex-direction: row;
}
.whiteSquare {
  width: 50%;
  height: 100%;
  background-color: #dfdfde;
  border-radius: 2px;
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em,
    rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}
.circleRayasContainer {
  width: 50%;
  height: 50px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.rayas {
  width: 100%;
  height: 15%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.raya {
  width: 40%;
  height: 100%;
  background-color: #313030;
  border-radius: 2px;
}
.justrightcir {
  align-self: flex-end;
}
.rowData {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  flex-direction: row;

  height: 15%;
  align-items: center;
  margin-top: 3px;
  margin-left: 5px;
}
.titleData {
  width: 20%;
  color: #ecda31;
  margin: 5px;
  font-size: 10px;
  font-family: arcadefont;
}
.contentData button {
  color: white;
  margin: 5px;
  font-size: 10px;
  font-family: arcadefont;
  background-color: #3f77d4;
  height: 100%;
}
